#faq-list.accordion.faq
  .card{ class: css_class }
    %a#faq-1-heading{"data-target" => "#faq-1", "data-toggle" => "collapse", :href => "#", class: css_link_class}
      %i.fas.fa-question-circle.fa-fw.text-muted.m-r-5.text-black
      1. Is it possible to block an account for using services?
    #faq-1.collapse{"data-parent" => "#faq-list"}
      .card-body.bg-white.text-black
        %p.m-b-0
          No locks - one of the most important rules of our service. We care about our customers, and therefore we carefully check each service for quality and safety. If you see a service in our list of services, then be sure of its safety.
  .card{ class: css_class }
    %a#faq-2-heading.collapsed{"data-target" => "#faq-2", "data-toggle" => "collapse", :href => "#", class: css_link_class}
      %i.fas.fa-question-circle.fa-fw.text-muted.m-r-5.text-black
      2. What are the accepted payment methods?
    #faq-2.collapse{"data-parent" => "#faq-list"}
      .card-body.bg-white.text-black
        %p.m-b-0
          We currently have Credit Card payments via Stripe as our only and primary means of payment. However, we are working on the addition of more methods of payment to make transactions easier and much more convenient for you.
  .card{ class: css_class }
    %a#faq-3-heading.collapsed{"data-target" => "#faq-3", "data-toggle" => "collapse", :href => "#", class: css_link_class}
      %i.fas.fa-question-circle.fa-fw.text-muted.m-r-5
      3. Why do you need Instagram promotion?
    #faq-3.collapse{"data-parent" => "#faq-list"}
      .card-body.bg-white.text-black
        %p.m-b-0
          Promoting Instagram can help you grow your account and promote content in several directions at once. Most often, Instagram is promoted through Piar4You in order to:

          %br
          %br
          %ul
            %li
              %b Increase the trust of your current subscribers.
              Constantly growing numbers will help show your existing subscribers the relevance of your content and the interest of the public in it.
            %li
              %b Increase trust in your content among potential subscribers.
              First of all, people pay attention to content that is widely popular. I always want to see what many thousands of other users have noticed.
            %li
              %b Effective ranking of publications.
              It is always more profitable when a publication reaches the top in search or hashtag, but in the current competition this is not always possible on its own. This is where Piar4You helps you.
            %li
              %b Get the trust of advertisers.
              Advertisers pay attention primarily to profiles where a certain activity already exists. With Piar4You you can easily get your first ad order.
            %li
              %b Improve statistics for advertisers.
              Upon completion of the advertising campaign, a professional advertiser will ask you to provide statistics on advertising publication to evaluate its success. To increase the chance of further cooperation with him, you can always use our services.
            %li
              %b Get customers.
              If you are engaged in sales on the Internet, a high-quality post with good activity can easily help you increase your sales.
            %li
              %b Make a definite opinion.
              With our services, you can easily adjust the public’s opinion about your content. Likes and comments can easily help you with this.
            %li
              %b Promote Stories.
              To be in the top of the story feed for your subscribers, you need activity, noticing that Instagram will immediately advance your story in a few positions.
  .card{ class: css_class }
    %a#faq-4-heading.collapsed{"data-target" => "#faq-4", "data-toggle" => "collapse", :href => "#", class: css_link_class}
      %i.fas.fa-question-circle.fa-fw.text-muted.m-r-5
      4. What is publication ranking?
    #faq-4.collapse{"data-parent" => "#faq-list"}
      .card-body.bg-white.text-black
        %p.m-b-0
          Instagram ranking is a system that arranges publications in a specific order when searching for a phrase or hashtag, as well as in the feed of your subscribers. Also, ranking affects the place of your stories in the feed of your subscribers.
  .card{ class: css_class }
    %a#faq-5-heading.collapsed{"data-target" => "#faq-5", "data-toggle" => "collapse", :href => "#", class: css_link_class}
      %i.fas.fa-question-circle.fa-fw.text-muted.m-r-5
      5. Are there any restrictions on the volume of the order?
    #faq-5.collapse{"data-parent" => "#faq-list"}
      .card-body.bg-white.text-black
        %p.m-b-0
          Yes, each service has its own restriction on the minimum and maximum order quantity. You can find information about these restrictions in the service description.
  .card{ class: css_class }
    %a#faq-6-heading.collapsed{"data-target" => "#faq-6", "data-toggle" => "collapse", :href => "#", class: css_link_class}
      %i.fas.fa-question-circle.fa-fw.text-muted.m-r-5
      6. I need very few likes or followers. Can I order less than the minimum quantity?
    #faq-6.collapse{"data-parent" => "#faq-list"}
      .card-body.bg-white.text-black
        %p.m-b-0
          Unfortunately, placing orders whose volume would be less than the minimum quantity specified in the description of the service is not possible.
  .card{ class: css_class }
    %a#faq-7-heading.collapsed{"data-target" => "#faq-7", "data-toggle" => "collapse", :href => "#", class: css_link_class}
      %i.fas.fa-question-circle.fa-fw.text-muted.m-r-5
      7. I need more likes or subscribers than allowed in the service description. Can I place several orders on one link to get more?
    #faq-7.collapse{"data-parent" => "#faq-list"}
      .card-body.bg-white.text-black
        %p.m-b-0
          The maximum limit means that you cannot order more than the specified quantity in the amount per link. For example, if the Instagram Subscribers service has a maximum limit of 1000 subscribers, this means that you can order a maximum of 1000 subscribers per account, regardless of the number of orders placed. In case of violation, the administration reserves the right to withdraw warranties for orders exceeding the maximum allowable amount.
  .card{ class: css_class }
    %a#faq-10-heading.collapsed{"data-target" => "#faq-10", "data-toggle" => "collapse", :href => "#", class: css_link_class}
      %i.fas.fa-question-circle.fa-fw.text-muted.m-r-5
      10. What are Impressions in Instagram stats?
    #faq-10.collapse{"data-parent" => "#faq-list"}
      .card-body.bg-white.text-black
        %p.m-b-0
          Impressions is the total number of views of your post. Information on the number of Impressions can be found in the statistics under each of your posts.
  .card{ class: css_class }
    %a#faq-11-heading.collapsed{"data-target" => "#faq-11", "data-toggle" => "collapse", :href => "#", class: css_link_class}
      %i.fas.fa-question-circle.fa-fw.text-muted.m-r-5
      11. What is reach in Instagram stats?
    #faq-11.collapse{"data-parent" => "#faq-list"}
      .card-body.bg-white.text-black
        %p.m-b-0
          Reach is the number of unique accounts that viewed your post. Information on the number of Coverage can be found in the statistics under each of your publications.
  .card{ class: css_class }
    %a#faq-12-heading.collapsed{"data-target" => "#faq-12", "data-toggle" => "collapse", :href => "#", class: css_link_class}
      %i.fas.fa-question-circle.fa-fw.text-muted.m-r-5
      12. What are Saves in Instagram statistics?
    #faq-12.collapse{"data-parent" => "#faq-list"}
      .card-body.bg-white.text-black
        %p.m-b-0
          Saves - the number of users who saved your post. Information on the number of Saves can be found in the statistics under each of your publications.
  .card{ class: css_class }
    %a#faq-13-heading.collapsed{"data-target" => "#faq-13", "data-toggle" => "collapse", :href => "#", class: css_link_class}
      %i.fas.fa-question-circle.fa-fw.text-muted.m-r-5
      13. High quality followers or likes - what does it mean?
    #faq-13.collapse{"data-parent" => "#faq-list"}
      .card-body.bg-white.text-black
        %p.m-b-0
          First of all, this means the presence of a profile picture, description, publications posted at different times with your new subscriber. Also, a high quality account will be active and it will have its own activity on the page. The time of its existence will be significant. All these factors determine a good ranking on Instagram, as well as your complete safety.
          %br
          %br
          If for some reason you are unsatisfied with the quality of your accounts, please contact our support team with the appropriate request, attaching screenshots of substandard accounts.
  .card{ class: css_class }
    %a#faq-14-heading.collapsed{"data-target" => "#faq-14", "data-toggle" => "collapse", :href => "#", class: css_link_class}
      %i.fas.fa-question-circle.fa-fw.text-muted.m-r-5
      14. Can I order services on a 'closed' account?
    #faq-14.collapse{"data-parent" => "#faq-list"}
      .card-body.bg-white.text-black
        %p.m-b-0
          No, by the time your order starts, your profile must be 'public' so that the services ordered are delivered without delay.
  .card{ class: css_class }
    %a#faq-15-heading.collapsed{"data-target" => "#faq-15", "data-toggle" => "collapse", :href => "#", class: css_link_class}
      %i.fas.fa-question-circle.fa-fw.text-muted.m-r-5
      15. My order has not yet been completed, can I change my nickname in the process of work?
    #faq-15.collapse{"data-parent" => "#faq-list"}
      .card-body.bg-white.text-black
        %p.m-b-0
          No, as a change of nickname will entail a change in the link of your account. We strongly recommend waiting for the completion of the order, and then changing the nickname.
  .card{ class: css_class }
    %a#faq-16-heading.collapsed{"data-target" => "#faq-16", "data-toggle" => "collapse", :href => "#", class: css_link_class}
      %i.fas.fa-question-circle.fa-fw.text-muted.m-r-5
      16. Created several orders at one time using one link - what will happen?
    #faq-16.collapse{"data-parent" => "#faq-list"}
      .card-body.bg-white.text-black
        %p.m-b-0
          We have the following rule on our service: 'You cannot add the same link to the same services at the same time (For example: YouTube views) while the first or previous task is not completed.' In case of violation of this rule, please contact our support team for clarification, indicate duplicate order numbers. We will try to help you, but delays may occur as orders work.
  .card{ class: css_class }
    %a#faq-17-heading.collapsed{"data-target" => "#faq-17", "data-toggle" => "collapse", :href => "#", class: css_link_class}
      %i.fas.fa-question-circle.fa-fw.text-muted.m-r-5
      17. It seems to me that the order was not delivered in full, what should I do?
    #faq-17.collapse{"data-parent" => "#faq-list"}
      .card-body.bg-white.text-black
        %p.m-b-0
          If you think that the ordered service was not provided to you in full, please create a corresponding request to the support service, enclosing the grounds for these concerns, for example, in a video screenshot of the publication statistics. We will double-check your order on the server, where we have an additional counter installed, taking into account only the activity sent.
  .card{ class: css_class }
    %a#faq-18-heading.card-header.text-white.collapsed{"data-target" => "#faq-18", "data-toggle" => "collapse", :href => "#", class: css_link_class}
      %i.fas.fa-question-circle.fa-fw.text-muted.m-r-5
      18. What country will Instagram services come from?
    #faq-18.collapse{"data-parent" => "#faq-list"}
      .card-body.bg-white.text-black
        %p.m-b-0
          Information about the targeting of services will be indicated in the description of the service. If this information is not indicated, then for this service the targeting will be “World” - activity will be delivered from one random country or group of countries.
