#footer.footer
  .container
    .footer-brand
      .footer-brand-logo
      The SMM Tools
    %p
      © Copyright The SMM Tools #{ Date.current.year }
      %br/
    %p.social-list
      %a{:href => "#"}
        %i.fab.fa-facebook-f.fa-fw
      %a{:href => "#"}
        %i.fab.fa-instagram.fa-fw
      %a{:href => "#"}
        %i.fab.fa-twitter.fa-fw
      %a{:href => "#"}
        %i.fab.fa-google-plus-g.fa-fw
      %a{:href => "#"}
        %i.fab.fa-dribbble.fa-fw
